<nz-layout class="main-container">
  <nz-sider class="sidebar">
    <div class="logo-container" nz-row nzType="flex" nzJustify="center" nzAlign="middle">
      <img nz-col nzMd="8" src="../../../assets/img/logo.png" style="border-radius: 50%; width: 30px; height: 30px;" alt="" srcset="">
      <span  nz-col nzMd="16" style="font-size:large; font-weight:bold;"> 后台管理</span>
    </div>
    <div class="menu-container">
      <ul nz-menu [nzMode]="'inline'" [nzTheme]="'dark'">
        <li nz-menu-item routerLink="/manage/post/post-list" routerLinkActive="ant-menu-item-selected">
          <span title><i nz-icon type="file-text"></i> 帖子管理</span>
        </li>
        <li nz-menu-item *ngIf="isManager" routerLink="/manage/user/user-list" routerLinkActive="ant-menu-item-selected">
          <span title><i nz-icon type="user"></i> 用户管理</span>
        </li>
        <li nz-submenu *ngIf="isManager">
          <span title><i nz-icon type="tags"></i> 分类管理</span>
          <ul>
            <li nz-menu-item routerLink="/manage/category/firstcategory-list" routerLinkActive="ant-menu-item-selected">
              <span title><i nz-icon type=""></i> 大分类管理</span>
            </li>
            <li nz-menu-item routerLink="/manage/category/secondcategory-list" routerLinkActive="ant-menu-item-selected">
              <span title><i nz-icon type=""></i> 二级分类管理</span>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div nz-row nzType="flex" nzJustify="end">
        <div *ngIf="userInfo?.userId" nz-col nzLg="6" nzMd="3" nzSm="5" nzXs="5" style="text-align: right">
          <div nz-row nzType="flex" nzJustify="end">
            <div nz-col nzSpan="10">
              <nz-dropdown [nzPlacement]="'bottomRight'">
                <div nz-dropdown nz-row nzType="flex" nzJustify="end">
                  <div nz-col nzSpan="8">
                    <nz-avatar [nzSize]="small" nzIcon="user" class="avatar" [nzSrc]="avatarPath"></nz-avatar>
                  </div>
                  <div nz-col nzSpan="16" style="text-align: center">
                    {{userInfo.nickName}}
                  </div>
                </div>
                <ul nz-menu>
                  <li nz-menu-item>
                    <a [routerLink]="['/main/user/space', userInfo.userId]">
                      <i nz-icon type="user" theme="outline"></i> 个人中心
                    </a>
                  </li>
                  <li nz-menu-item>
                    <a routerLink="/">
                      <i nz-icon type="undo" theme="outline"></i> 回到前台
                    </a>
                  </li>
                  <li nz-menu-item>
                    <div (click)="logout()"><i nz-icon type="logout" theme="outline"></i> Logout</div>
                  </li>
                </ul>
              </nz-dropdown>
            </div>
          </div>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="content-container">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>Footer</nz-footer>
  </nz-layout>
</nz-layout>