.user-login-zone{
    height: 100%;
    background-color: rgba(238, 238, 238, 0.5);
}
.user-login-container{
    text-align: center; /*让div内部文字居中*/
    background-color: #fff;
    /* width: 300px; */
    height: 400px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* border: 1px solid #c4c4c4; */
    border-radius: 5px;
    box-shadow: rgba(169, 169, 169,0.5) 10px 10px 30px 5px ;
}
.user-login-loginid{
    margin-top: 20px;
}
.user-login-password{
    margin-top: 20px;
}
.loginid{
    height: 40px;
}
.password{
    height: 40px;
}
.user-login-button-container{
    margin-top: 25px;
}
.login-button{
    width: 150px;
}
.user-login-title{
    margin-top: 20px;
    font-weight: bold;
}
.forgetpasswordarea{
    margin: 10px;
}