<div class="body-container" nz-row nzType="flex" nzJustify="center">
  <div nz-col nzLg="8" nzMd="8" nzXs="24" nzSm="24" class="form-container">
    <form nz-form [formGroup]="validateForm">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="oldpassword" nzRequired>原密码</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback="true">
          <input nz-input type="password" id="oldpassword" formControlName="oldpassword" (ngModelChange)="updateConfirmValidator()">
          <nz-form-explain *ngIf="validateForm.get('oldpassword')?.dirty && validateForm.get('oldpassword')?.errors">
            <ng-container *ngIf="validateForm.get('oldpassword')?.hasError('required')">
              请填写原密码
            </ng-container>
            <!-- <ng-container *ngIf="validateForm.get('password')?.hasError('passwordLenError')">
              原密码不正确
            </ng-container> -->
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>新密码</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback="true">
          <input nz-input type="password" id="password" formControlName="password" (ngModelChange)="updateConfirmValidator()">
          <nz-form-explain *ngIf="validateForm.get('password')?.dirty && validateForm.get('password')?.errors">
            <ng-container *ngIf="validateForm.get('password')?.hasError('required')">
              请填写新密码
            </ng-container>
            <ng-container *ngIf="validateForm.get('password')?.hasError('passwordLenError')">
              密码必须6位以上
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired>确认新密码</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback="true">
          <input nz-input type="password" formControlName="checkPassword" id="checkPassword">
          <nz-form-explain *ngIf="validateForm.get('checkPassword').dirty && validateForm.get('checkPassword').errors">
            <ng-container *ngIf="validateForm.get('checkPassword').hasError('required')">
              请确认新密码!
            </ng-container>
            <ng-container *ngIf="validateForm.get('checkPassword').hasError('confirm')">
              2次输入密码不匹配!
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzOffset]="7" [nzSpan]="12">
          <button nz-button nzType="primary" [disabled]="!validateForm.valid" (click)="saveData()">确定</button>
          <button nz-button style="margin-left: 8px" (click)="goBack()">返回</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>