<div class="body-container">
  <div style="margin-bottom: 16px;">
    <div>
      <form nz-form [formGroup]="validateForm" [nzLayout]="'horizontal'" class="ant-advanced-search-form">
        <div nz-row nzGutter="8">
          <div nz-col nzMd="6" nzSm="24">
            <nz-form-item>
              <nz-form-label [nzMd]="6" [nzXs]="24" nzFor="nickName">角色名称</nz-form-label>
              <nz-form-control [nzMd]="18" [nzXs]="24" nzSm="24">
                <input nz-input placeholder="角色名称" formControlName="nickName" >
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSm="24" nzMd="6">
            <nz-form-item>
              <nz-form-label [nzMd]="6" [nzXs]="24" nzFor="userStatus">状态</nz-form-label>
              <nz-form-control [nzMd]="18" [nzXs]="24">
                <nz-select [nzMaxTagCount]="3" [nzMaxTagPlaceholder]="tagPlaceHolder" formControlName="userStatus"  nzMode="multiple" nzPlaceHolder="状态">
                  <nz-option nzLabel="a" nzValue="a"></nz-option>
                  <nz-option nzLabel="ac" nzValue="ac"></nz-option>
                </nz-select>
                <ng-template #tagPlaceHolder let-selectedList>
                  等...
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row>
          <div nz-col [nzSpan]="24" style="text-align: left;">
            <button nz-button [nzType]="'primary'" class="inquery-panel-btn">查询</button>
            <button nz-button [nzType]="'primary'" class="inquery-panel-btn">删除</button>
            <!-- <button nz-button [nzType]="'primary'" class="inquery-panel-btn">封杀</button> -->
          </div>
        </div>
      </form>
    </div>
  </div>
  <nz-table
    #rowSelectionTable
    [nzData]="dataSet"
    (nzCurrentPageDataChange)="currentPageDataChange($event)"
    (nzPageIndexChange)="refreshStatus()"
    (nzPageSizeChange)="refreshStatus()">
    <thead>
      <tr>
        <th nzShowCheckbox [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="checkAll($event)"></th>
        <th>角色名称</th>
        <th>创建时间</th>
        <th>成员数</th>
        <th>可访问分类</th>
        <th>状态</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of rowSelectionTable.data">
        <td nzShowCheckbox [(nzChecked)]="data.checked" (nzCheckedChange)="refreshStatus()"></td>
        <td>{{data.name}}</td>
        <td>{{data.age}}</td>
        <td>{{data.age}}</td>
        <td>{{data.age}}</td>
        <td>{{data.address}}</td>
        <td><a href="#">Delete</a></td>
      </tr>
    </tbody>
  </nz-table>
</div>